<div class="panel panel-default">
<div class="panel-heading">All Lists</div>
<div class="panel-body">

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Machine name</th>
      <th>Internal URL</th>
      <th>Show List</th> 
      <th>Edit List</th>
      <th>Delete List</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.machine_name %></td>
        <td><%= list.internal_url %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
</div>
