
<% if user_signed_in? %>
  <%= "Welcome, #{current_user.username}" %>

<div>
	 <% if current_user.admin? %>
	 	<%= link_to 'See all user questions', requests_path %>
	 <% else %>	
	<%= link_to 'Ask a new question', new_request_path %>
</div>

<div>
	<%= link_to 'See your question history', requests_path %>
</div>
	<% end %>

<% else %>
  <%= link_to "You're new around here, you should sign up", new_user_registration_path %>
<% end %>