<div class="panel panel-info">
<% if current_user.admin? %>
  <div class="panel-heading">All Requests</div>
<% else %>
  <div class="panel-heading">My Requests</div>
<% end %>
 <div class="panel-body">
  
<table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th>Due date</th>
      <% if current_user.admin? %>
      <th>User ID</th>
      <% end %>
      <th>Show Question</th>
      <th>Edit Question</th>
      <th>Delete Question</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.question %></td>
        <td><%= request.due_date %></td>
        <% if current_user.admin? %>
        <td><%= request.user_id %></td>
        <% end %>
        <td><%= link_to '[x]', request %></td>
        <td><%= link_to '[x]', edit_request_path(request) %></td>
        <td><%= link_to '[x]', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'Enter your own request', new_request_path %>
<% else %>
  <%= link_to 'New Request', new_request_path %>
<% end %>
</div>
