<p>
  <strong>Question:</strong>
  <%= @request.question %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @request.due_date %>
</p>

<!--
<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p> -->

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
